@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* Common Styles */
:root {
  --main-bg-color: #B52D4B;
  --secondary-bg-color: #03906F;
  --bg-color: #ffffff;
  --font-color: #FDFDD9;
  --secondary-font-color: #484848;
  --additional-color: #ced1cc;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-rows: auto 50px;
}

.main {
  display: grid;
  grid-template-rows: auto fit-content(30%);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: var(--secondary-bg-color);
}

ul {
  list-style-type: none;
  float: right;
}

ul li {
  display: inline;
}

ul li a {
  color: var(--font-color);
  padding: 15px;
}

img {
  max-width: 100%;
  background-size: cover;
  margin: 0 auto;
}

/* Head Styles */
header {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: [logo-start] fit-content(20%) auto [logo-end];
}

#logo {
  padding: 15px;
  margin-left: 0px;
  background-color: var(--font-color);
  color: var(--secondary-bg-color);
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 1.5em;
}

section#hero {
  background-color: var(--secondary-bg-color);  
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: space-around;
  color: var(--font-color);
}

#content h1 {
  text-transform: uppercase;
}

#hero-img {
  width: 200px;
  height: 200px;
}


/* Contacts Styles */
.contacts {
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 5%;
  color: var(--secondary-bg-color);
  width: 100%;
  }

  .contacts i {
    font-size: 3em;
  } 

  .contacts i:hover {
    color: var(--main-bg-color);
    cursor: pointer;
  }

.contacts-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.4em;
  padding-left: 5px;
}

/* Skills Styles */
.skills {
    color: var(--secondary-font-color);
    text-align: center;
    margin: 0 5% 0 5%;
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1em 1em;
}

.skills ul li i {
  font-size: 5em;
}

.skillset {
  margin: 0;
  padding: 0;
}

.skillset li {
  border: 1px solid var(--main-bg-color);
  border-radius: 5%;
  padding: 1em;
}

.fa-js-square {
  color: #ffdc30;
}

.fa-react {
  color: turquoise;
}

.fa-node {
  color: green;
}

.fa-css3-alt {
  color: blue;
}

.fa-html5 {
  color: red;
}

.fa-git {
  color: #484848;
}

#redux-img {
  height: 75px;
  width: 75px;
}

.fa-github {
  color: purple;
}

/* Projects Styles */
.projects {
  padding-top: 5%;
  color: var(--secondary-font-color);
  text-align: center;
  margin: 0 5% 0 5%;
}

.projects ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em 1em;
}

.projectset {
  margin: 0;
  padding: 0;
}

.project {
  border: 1px solid var(--secondary-bg-color);
  border-radius: 5%;
  padding: 1em;
}

.project:hover {
  cursor: pointer;
}

.project-img {
  width: 100%;
  height: 100%;
}

.img-container {
  width: 100%;
  height: 250px;
}

/* Education Styles */
.educations {
  padding-top: 5%;
  color: var(--secondary-font-color);
  text-align: center;
  margin: 0 5% 0 5%;
}

.educations ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em 1em;
}

.educationset {
  margin: 0;
  padding: 0;
}

.education {
  border: 1px solid var(--font-color);
  border-radius: 5%;
  padding: 1em;
}

.education:hover {
  cursor: pointer;
}

.project-img {
  width: 100%;
  height: 100%;
}

.education div img {
  width: 100%;
  height: 200px;
}

/* Footer Styles */
footer div p {
  margin-left: 5%;
}


/********  VIEWS *********/
/* Tablet view */
@media screen and (max-width: 767px) {
  .skills ul {
    grid-template-columns: repeat(2, auto);
  }

  .projects ul {
    grid-template-columns: auto;
  }

  .contacts i {
    font-size: 1.5em;
  }
}

/* Smartphone view */
@media screen and (max-width: 480px) {
  .header {
    grid-template-columns: auto;
  }

  #logo, nav {
    grid-column: 1 / span 2;
  }

  nav ul {
    float: none;
    padding: 5%;
    margin: 0;
    width: 100%;
  }

  nav ul li a {
    display: inline-block;
    font-size: 0.9em;
  }

  section#hero {
    grid-template-columns: auto;  
    text-align: center;
  }

  h1, h2 {
    font-size: 1.2em;
  }

  #hero-img {
    width: 100px;
    height: 100px;
  }

  #content p {
    font-size: 0.9em;
  }

  .contacts {
    grid-template-columns: repeat(2, auto);
    width: 80%;
  }

  .contacts i {
    margin-top: 5%;
  }

  #phone {
    grid-area: "phone";
  }

  #email {
    grid-area: "email";
  }

  #linkedin {
    grid-area: "linkedin";
  }

  #codepen {
    grid-area: "codepen";
  }

  #github {
    grid-area: "github";
  }

  .skillset li {
    grid-column: 1 / span 2;
  }

  .educations ul {
    grid-template-columns: auto;
  }
}